/* Font Styling */
.tsukimi-rounded-light {
    font-family: "Tsukimi Rounded", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .tsukimi-rounded-regular {
    font-family: "Tsukimi Rounded", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .tsukimi-rounded-medium {
    font-family: "Tsukimi Rounded", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .tsukimi-rounded-semibold {
    font-family: "Tsukimi Rounded", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .tsukimi-rounded-bold {
    font-family: "Tsukimi Rounded", serif;
    font-weight: 700;
    font-style: normal;
  }
  
/* Body */
body {
    background-color: rgb(32, 32, 32);
    color: rgb(223, 220, 220);
}

/* Header Content */
hgroup {
    text-align: center;
}

h1 {
    font-size: 3rem;
    letter-spacing: 4px;
}

hgroup p {
    position: relative;
    margin: 20px auto;
}

/* Navigation */
nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 20px 30px;
}

nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(223, 220, 220);
    padding: 10px 20px;
    border-radius: 6px;
    
}

nav ul li a:hover {
    color: rgb(146, 229, 255);
    background-color: rgb(22, 22, 22);
}